

body {
    overflow-x: hidden;
}


.navbar-brand img{
    width:30px;

}

.landing-navbar{
    margin-left: 240px;
    margin-top: 60px;
    
}

.navbar ul li{
    margin-right: 45px;
    font-size: 17px;
    font-weight: 600;

}

#owl1{
    padding-top: 90px;

}
#arab1{
    padding-top: 80px;

}
#burg1{
    padding-top: 80px;

}
#shaw1{
    padding-top: 80px;

}
#cartpadding{
    padding-top: 90px;

}

.navbar ul li span{
    font-size: 20px;
}



@media screen and (max-width: 900px) {
    .navbar ul li{
        margin-right: 5px;
       
    
    }

}
@media screen and (max-width: 600px) {
    .navbar.fixed-top {
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
       
    }
    /* .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
     */

    
    .navbar ul li{
        font-size: 20px;
        
        font-weight: 600;
       
       
    
    }
  
     #owl1{
        padding-top: 0px;
    
    } 
     #arab1{
        padding-top: 0px;
    
    } 
     #burg1{
        padding-top: 0px;
    
    } 
     #shaw1{
        padding-top: 0px;
    
    } 
     #cartpadding{
        padding-top: 0px;
    
    } 

    
       

    

}



.landing-logo {
   
    margin-top: 60px;

    width: 300px;
    
}

.landing-h1{
    margin-top: 20px;  
    font-size: 45px;
    font-weight: 700;
}
.landing-h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 300;
}
.landing-loc{
  
     margin-top: 20px; 
 } 
 .findfood{
    background-color: #fc8019;
    padding: 0 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;  
    font-weight: 600;
   
 }

.location button:hover{
    background-color: lightgrey;
}


@media screen and (max-width: 600px) {



    .landing-h2{
      
        font-size: 22px;
        margin-top: 25px;
        
    }
    
}

  




.citylist{
 
    margin-top: 30px;
}
.citylist h4{
    font-size: 16px;
    color: #686b78;
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.735);
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.list:nth-child(odd){
    color: lightslategray;
}

.landing2{
    background-color: #2b1e16;

}
.landing2 img{
    margin-top: 20px;
    width: 105px; 
    height: 199px;

}


.landing2 p{
    font-size: smaller;
    color: #e0cbc1;

}
.landing3{
    margin-top: 150px;
}
.landing3 img{
   width: 35%;
   
   margin-top: 25px;
}
.landing3 h1{
   font-weight: 600;
}
.landing3 p{
    margin-top: 10px;
    font-size: larger;
    color: #686b78;
}

.android{
    width: 384px;
    height: 489px;
   
}
.iphone{
    margin-top: 90px;
    width: 384px;
    height: 489px;
}

@media screen and (max-width: 600px) {
    .landing3 p{
        margin-top: 10px;
        font-size: smaller;
      
    }
    .iphone{
        margin-top: 90px;
        margin-left: 100px;
        width: 384px;
        height: 489px;
    }
    .list{
        
        font-size: 15px;
     
    }

}

/* Add your additional styles here */
.swiper-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.swiper-slide {
    width: 100%;
}

.carousel-link {
    display: block;
}

.carousel-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px; /* Adjust the height as needed */
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #555;
}

.am-next{
    width: 2200px;
    color: #2b1e16;
}
.owl-carousel .owl-nav button.owl-next {
   position: absolute;
   bottom: 260px;
   right: 20px;

   
   width: 40px;
   height: 40px;
   font-size: 25px;
   display: inline-block;
   border-radius: 50px;
   
   color: black;
   
   background-color: rgba(128, 128, 128, 0.384);
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: 260px;
    right: 80px;
    width: 40px;
   height: 40px;
   font-size: 25px;
   display: inline-block;
   border-radius: 50px;
   
   color: black;
   
    background-color: rgba(128, 128, 128, 0.384);
}




.card-img-top {
    height: 200px; /* Set the desired height */
    object-fit: cover; /* This property ensures that the image maintains its aspect ratio and covers the specified height */
}




#slider-2  .owl-nav button.owl-prev {
    position: absolute;
    bottom: 380px;
    right: 80px;
    width: 40px;
   height: 40px;
   font-size: 25px;
   display: inline-block;
   border-radius: 50px;
   
   color: black;
   background-color: rgba(128, 128, 128, 0.384);
}
#slider-2 .owl-nav button.owl-next {
    position: absolute;
    bottom: 380px;
    right: 20px;
 
    
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: inline-block;
    border-radius: 50px;
    
    color: black;
    
    background-color: rgba(128, 128, 128, 0.384);
 }




 #offcanvasLogin {
    width: 570px;
}
#offcanvasCreateAccount {
    width: 570px;
}

#loginimg{
    position: absolute;
    top: 30px;
    width: 125px;
    right: 190px;
}

@media screen and (max-width: 600px) {
    #loginimg{
        position: absolute;
        top: 30px;
        width: 125px;
        right: 60px;
    }
}
.offcanvas-title {
    position: absolute;
    margin-top: 140px;
    font-weight: 700;

}

.offcanvas-body p,a{
    font-size: small;
    text-decoration: none;
   
    
}
.offcanvas-body span{
  
    color: #fc8019;
    font-weight: 600;
    
}

.offcanvas-body button{
    background-color: #fc8019;
    color: #fff;
    height: 50px;
}

.offcanvas-body a{
    color: black;
    font-weight: 600;

}


#loginButton {
    padding: 5px 35px;
    text-align: center;
    border: 2px solid #60b246;
    color: #60b246;

}
#loginButton span {

    /* color: #60b246; */
    font-weight: 700;

}
#signupButton {
    padding: 5px 35px;
    text-align: center;
    border: 0;
    background-color: #60b246;
    color: #fff;

}


#loginCollapse button{
    background-color: #60b246;
    color: #fff;
    border: #60b246;
    padding: 10px 35px;

}
#signupCollapse button{
    background-color: #60b246;
    color: #fff;
    border: #60b246;
    padding: 10px 35px;

}


.qwerty{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #282c3f;
    box-shadow: 0 3px 5px 0 rgba(40,44,63,.4);
    top: 200px;
    left: 85px;
}
.qwerty span{
    color: #fff;
    text-align: center;
    line-height: 36px;
    margin-left: 4px;
    font-size: 30px;
}


#cartcol1{

    width: 725px;
   
  
}

#cartcol2,#cartcol3{
   padding: 30px ;
   width: 725px;
    
    
}

@media screen and (max-width:900px) {
    #cartcol1{
       
        display: none;
      
    }
    
    #cartcol2,#cartcol3{
       display: none;
        
    }

    
}
#foot1{
    background-color: rgb(240, 240, 245);;
}
   
#footercol1 h1{

    font-size: 30px;
    margin-left: 100px;
    
}



#footercol2 img{
    
    width: 35%;
    
}
#footersec{
    height: 45vh;
    background-color:  rgb(2, 6, 12);

}

@media screen and (max-width:600px) {
#footercol1{
    display: none;
    
}
#footercol2 img{
    
    width: 105%;
    
}
#footersec{
    height: 110vh;

}
}



@media screen and (max-width:900px) {
#footercol1{
    display: none;
    
}
#footercol2 img{
    
    width: 30%;
    
}
/* #footersec{
    height: 50vh;

} */
}





.accordion-body{
    height: 220px;
}
.accordion-body span{
    font-size: larger;
}



/* ------styling------- */

.card {
    transition: transform 0.3s ease;
}


.card:hover {
    transform: scale(0.9); 
}